{% load static %}

{% block body %}

{% include 'navigation.html' %}

<marquee behavior="" direction="" style="font-family: monotype corsiva;font-size:25px;color:darkcyan;background-color:black; font-weight:bold;" >User login</marquee>
<form action="" method="post" class="container mt-5">
    {% csrf_token %}
    {% if  messages %}
    {% for message in messages%}
      <div class="alert alert-info">
          {{message}}
      </div>
    {% endfor %}
    {% endif %}
    <label for="">new password</label>
    <input type="text" class="form-control" name="new_password" placeholder="Enter your password">
    <label for="">confirm password</label>
    <input type="text" class="form-control" name="confirm_password" placeholder="re-enter your password">
    <input type="text" name="user_id" value="{{user_id}}">
    <input type="submit"  value="submit" class="btn btn-primary" style="margin-top: 2%; color:darkcyan;background-color:black;height:40px">
</form>

{% endblock %}