{% load static %}

{% block body %}

{% include 'admin_navigation.html' %}
<script>
    function checkpass(){
        if (document.changepassword.newpassword.value!=document.changepassword.confirmpassword.value){
            alert("new password and confirm password not matched");
            return false;
        }
        return true;
    }
</script>

<marquee behavior="" direction="" style="font-family: monotype corsiva;font-size:25px;color:darkcyan;background-color:black; font-weight:bold;" >change password of admin</marquee>
<form action="" method="post" class="container mt-5" name="changepassword" onsubmit="return checkpass();">
    {% csrf_token %}
    <label for="">current password</label>
    <input type="password" class="form-control" name="currentpassword">

    <label for="">New password</label>
    <input type="password" class="form-control" name="newpassword" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
    title="Must contain at least one  number and one uppercase and lowercase letter, and at least 8 or more characters" required>>

    <label for="">confirm password</label>
    <input type="password" class="form-control" name="confirmpassword">
    
    <input type="submit" class="btn btn-primary" value="submit" class="btn btn-primary" style="margin-top: 2%; color:darkcyan;background-color:black;height:40px">
</form>

{% ifequal error "no" %}
<script>
    alert("password changed successfully");
    window.location=('{% url 'Logout' %}');
</script>
{% endifequal %}
{% ifequal error "yes" %}
<script>
    alert("something went wrong,try again");
</script>
{% endifequal %}

{% ifequal error "not" %}
<script>
    alert("current password is wrong");
</script>
{% endifequal %}

{% endblock %}