{% load static %}

{% block body %}

{% include 'navigation.html' %}

<marquee behavior="" direction="" style="font-family: monotype corsiva;font-size:25px;color:darkcyan;background-color:black; font-weight:bold;" >forget password</marquee>
<form action="" method="post" class="container mt-5">
    {% csrf_token %}
    {% if messages %}
    {% for message in messages %}
    
        {{message}}
    
    {% endfor %}
    {% endif %}
    <label for="">Email</label>
    <input type="text" class="form-control" name="username" placeholder="Enter your email">
    <input type="submit" class="btn btn-primary" value="submit" class="btn btn-primary" style="margin-top: 2%; color:darkcyan;background-color:black;height:40px">
</form>

{% endblock %}