<html>
<head>
    {% load static %}
    <title>job portal</title>
    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    .nav-link{
        color:white;
        margin-right:4px;
    }
    .nav-link:hover{
        font-weight: bold;
        color:yellow !important;
        background-color: red;
        border-radius: 10px;
    }
    .navbar-brand{
        font-weight: bold;
        color:white;
        padding-left: 5px;
    }
    .navbar-brand:hover{
        color: yellow !important;
        
    }
    #navbar {
        list-style-type: none;
        
        }
</style>
</head>
<body>
    <div class="container">
        <div class="row">

            <div class="col-sm-3" >
                <img src="{% static 'images/index.jpg '%}" alt="" width="180px" height="150px">
            </div>

            <div class="col-sm-6 text-center" mt-5>
                <span style="font-weight: bold; font-size:30px">

                    <span style="color:red">Guraghe</span>
                    <span style="color:green">job portal</span>

                </span>
                
            </div>  

            <div class="col-sm-3" mt-5 style="padding-left: 10%;">
                <span style="font-weight: bold; font-size:30px">
                <span><i  class="fa fa-twitter pl-1"></i></span>
                <span><i  class="fa fa-linkedin pl-1"></i></span>
                <span><i  class="fa fa-instagram pl-1"></i></span>
                <span><i  class="fa fa-telegram pl-1"></i></span>
                <span><i  class="fa fa-facebook pl-1"></i></span>


            </span>
                
            </div>  


        </div>
    </div>

<nav class="navbar navbar-expand-sm" style="background-color:maroon">
    <a href="" class="navbar-brand" style="font-family:'monotype corsiva';"> job portal</a>
    <ul class="navbar-nav" id="navbar">
        <li class="nav-item">
            <a href="{% url 'index' %}" class="nav-link" style="margin-left: 280px;"><i class="fa fa-home" style="margin-right:1px ;" ></i>Home</a>
        </li>
        <li class="nav-item">
            <a href="{% url 'latest_jobs' %}" class="nav-link" style="margin-left:5px ;"><i class="fa fa-users" style="margin-right:1px ;"></i>Latest jobs</a>
        </li>
        <li class="nav-item">
            <a href="{% url 'user_login' %}" class="nav-link" style="margin-left:5px ;"><i class="fa fa-user-plus" style="margin-right:1px ;"></i>User login</a>
        </li>
        <li class="nav-item">
            <a href="{% url 'recruiter_login' %}" class="nav-link" style="margin-left:5px ;"><i class="fa fa-sign-language" style="margin-right:1px ;"></i>Recruiter login</a>
        </li>
        <li class="nav-item">
            <a href="{% url 'admin_login' %}" class="nav-link" style="margin-left:5px ;"><i class="fa fa-sign-in" style="margin-right:1px ;"></i>Admin login</a>
        </li>
        <li class="nav-item">
            <a href="{% url 'contact' %}" class="nav-link" style="margin-left:5px ;"><i class="fa fa-sign-in" style="margin-right:1px ;"></i>Contact</a>
        </li>
    
    </ul>
</nav>

</body>
</html>