{% load static %}

{% block body %}

{% include 'user_navigation.html' %}
<style>
    tr{
     text-align: center;
    }
</style>
<marquee behavior="" direction="" style="font-family: monotype corsiva;font-size:25px;color:darkcyan;background-color:black; font-weight:bold;" >
    
    latest jobs</marquee>
<hr>
<div class="container">
    <table class="table table-hover " id="example">
        <thead>
            <tr style="background-color: #000080;color:white">
                <th>S.NO.</th>
                <th>Company Name</th>
                <th>job title</th>
                <th>Location</th>
                <th>start date</th>
                <th>end date</th>
                <th>Action</th>
                
            </tr>
        </thead>
        <tbody>
            {% for i in job %}
            <tr style="background-color:#DEB887">
                <td>{{forloop.counter}}</td>
                <td>{{i.recruiter.company}}</td>
                <td>{{i.title}}</td>
                <td>{{i.location}}</td>
                <td>{{i.start_date}}</td>
                <td>{{i.end_date}}</td>
                {% if i.id in li %}
                <td>Already applied</td>
                {% else %}
                <td><a href="{% url 'job_detail' i.id %}" class="btn btn-success btn-sm">Apply</a></td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}