{% load static %}

{% block body %}

{% include 'admin_navigation.html' %}
<marquee behavior="" direction="" style="font-family: monotype corsiva;font-size:25px;color:darkcyan;background-color:black; font-weight:bold;" >view all student users</marquee>
<hr>
<div class="container">
    <table class="table table-hover " id="example">
        <thead>
            <tr style="background-color: #000080;color:white">
                <th>S.NO.</th>
                <th>Full Name</th>
                <th>Email ID</th>
                <th>Contact</th>
                <th>Gender</th>
                <th>Image</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for i in data %}
            <tr style="background-color:#DEB887">
                <td>{{forloop.counter}}</td>
                <td>{{i.user.first_name}}  {{i.user.last_name}}</td>
                <td>{{i.user.username}}</td>
                <td>{{i.mobile}}</td>
                <td>{{i.gender}}</td>
                <td><img src="{{i.image.url}}" style="border-radius: 50%;height:100px;width:100px;"></td>
                <td><a href="{% url 'delete_user' i.user.id %}" class="btn btn-danger btn-sm" onclick="return confirm('Are you sure,you want to delete')">delete</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}